<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to AgriGuru Online</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .container {
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            .header {
                background-color: #f1f1f1;
                padding: 20px;
            }
            .content {
                margin: 20px 0;
            }
            .otp-box {
                display: inline-block;
                padding: 10px;
                border: 2px solid #ccc;
                border-radius: 10px;
            }
            .otp-text {
                font-size: 24px;
                font-weight: bold;
            }
            .footer {
                background-color: #333;
                color: #fff;
                padding: 20px;
                font-size: 12px;
            }
            .footer a {
                color: #ff0000;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="https://agriguruonline.com/themes-nct/images-nct/9843395431667127233.png.webp" alt="AgriGuru online" width="100" height="100" />
            </div>
            <div class="content">
                <p>Hi, <b><%= fullName %></b></p>
                <p>Here is your OTP to reset password: </p>
                <!-- OTP Box -->
                <div class="otp-box">
                    <div class="otp-text"><%= otp %></div>
                </div>
                <p>
                    Need Some Help? Contact our
                    <a href=`<%= customerServiceLink %>`>Customer Service</a>!
                </p>
                <p style="color: red">
                    "This is an automated email, please do not reply. If you have any query<br />Please
                    contact our customer care"
                </p>
            </div>
            <div class="footer">
                <p>
                    Copyright &copy; 2024 AgriGuru Online B2B Platform for Buyers/Sellers &
                    Exporters/Importers, All Rights Reserved.
                </p>
            </div>
        </div>
    </body>
</html>
